
<ion-tabs class="tabs-icon-top" >


  <ion-tab title="Home" style="color: 	#f69011;" icon-off="icon ion-home" icon-on="icon ion-home" href="#/userhome">
    <ion-nav-view name="userhome"></icon-nav-view>
  </ion-tab>

  <ion-tab title="About us" icon-off="icon ion-information-circled" icon-on="icon ion-information-circled" href="#/usertabs/usercontactus">
    <ion-nav-view name="usertabs-usercontactus"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Log Out" icon-off="icon ion-log-out" icon-on="icon ion-log-out" href="#/login">
  <ion-nav-view name="login"></ion-nav-view>

  </ion-tab>
</ion-tabs>
