<ion-view view-title="Home">
     <div class="bar bar-header" style="background-color:	#f69011;">
    <!-- <a class="button button-block button-dark " style="margin-top:40%" href="#/login">
      logout </a> -->
      <a href="#/login" class="button icon ion-arrow-left-c"></a>

    <h1 class="title" style="color:white;">Home</h1>
  </div>

  <ion-content style="text-align: center;">

    <div  style="background: url(img/gc1.jpg); background-repeat: no-repeat; background-size:100%; margin-top:20px; height:240px; background-position:center; box-shadow:insert 3px 4px 5px #000;">
      <br>
        <a class="button button-medium button-light button-outline " style="margin-top:40%" href="#/userannouncement">
          View Announcement </a><br>

    </div>
    
   <ion-list>
       <div class="padding">
         <div style="margin:10px; padding:10px; box-shadow: 10px 10px 5px #E0E0E0; border-radius:5px" >
           <h3>BACHELOR OF SCIENCE IN COMPUTER SCIENCE<br>(BSCS)</h3
             <img class="half-image-image" src="img/ionic.png">
             <div  style="background-color:#FF8F00; height:3px;"></div>
             <br><h4>Program Description:</h4>
             <p>The study of concepts and theories, algorithmic foundations, implementation and application of information and computing solutions.</p>
             <br><h4>Program Objective</h4>
             <p>Prepares students to be computing professionals and researchers and to be proficient in designing and developing computing solutions.</p>
             <br><h4>Career Opportunities:</h4>
             <p> Application Developer <br>
                 CS Instructor<br>
                 Researcher<br>
                 System Analyst<br>
                 Database Programmer/Designer<br>
                 QA Engineer<br>
                 Web Administrator<br>
             </p>
         </div>
       </ion-list>

         <ion-list>
           <div class="padding">
             <div style="margin:10px; padding:10px; box-shadow: 10px 10px 5px #E0E0E0; border-radius:5px;">
               <h3>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY<br>(BSIT)</h3>
                 <div  style="background-color:#FF8F00; height:3px;"></div>
                 <h4>Program Description:</h4>
                 <p>The study of utilization of computer and computer software to plan, install, cuztomize, operate mangage, administer and maintain information.</p>
                 <h4>Program Objective</h4>
                 <p>Prepares students to be IT Progessionals, be well versed on application installation, operation, development,maintenance and administration, and familar with hardware installation, operation and maintenance.</p>
                 <h4>Career Opportunities:</h4>
                 <p >Application Developer <br>
                   CS Instructor<br>
                   Researcher<br>
                   System Analyst<br>
                   Database Programmer/Designer<br>
                   QA Engineer<br>
                   Web Administrator<br>
                 </p>
             </div>
           </div>

         </ion-list>

  <ion-list>
    <div class="padding">
      <div style="margin:10px; padding:10px; box-shadow: 10px 10px 5px #E0E0E0; border-radius:5px" >
       <h3>ASSOCIATE IN COMPUTER TECHNOLOGY <br>(ACT)</h3>
         <div  style="background-color:#FF8F00; height:3px;"></div>
           <h4>Program Description:</h4>
           <p>A two year ladderized program leading to a diploma in "Associate in Computer Technology" which provides knowledge and skills in the fundamentals of computer programming and basic computation.</p>
           <h4>Program Objective</h4>
           <p>Equip students with specific skills for entry into the information technology profession.
             Prepare the students for eventual entry into regular degree programs BSIT or BSCS.</p>
           <h4>Career Opportunities:</h4>
           <p>Computer Programmer <br>
                     Software Tester <br>
                     Computer Technician <br>
                     Data Encoder <br>
                     Graphic Designer <br>
                     Web Developer <br>
                     Office Assistant <br>
                     Programmer Analyst <br>
             </p>
           </div>
       </ion-list>

       <div class="list card" style="margin-top:15%;margin:10psx; padding:10px; box-shadow: 10px 10px 5px #E0E0E0; border-radius:5px" >

         <a class="item item-icon-left">
           <i class="icon ion-home"></i>
           <p>Tapinac Oval Sports Complex, Donor St.,<br>
           East Tapinac Olongapo City, Philippines</p>
         </a>

         <a class="item item-icon-left">
           <i class="icon ion-ios-telephone"></i>
           <p>Call (047) 224 2089</p>
         </a>

         <a class="item item-icon-left">
           <i class="icon ion-wifi"></i>
             <p> Website: http://www.gordoncollegeccs.edu.ph <br>
             Email Address:contactus@gordoncollegeccs.edu.ph </p>
         </a>
       </div><br>

  </ion-content>


</ion-view>
